<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Included</id>
<name>百度收录情况生成器</name>
<url>http://www.songzhenjiang.cn</url>
<note>手动生成百度收录情况</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>唐朝</name>
  <email>79300975@qq.com</email>
  <url>http://www.songzhenjiang.cn</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0</version>
<pubdate>1970-01-01</pubdate>
<modified>2015-05-05</modified>
<price>0.8</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>